<mat-toolbar color="primary">
  <span>GESTION DES ETUDIANTS</span>
  <span class="example-spacer"></span>
  <button mat-raised-button (click)="onpenAddEditEtudiantForm()">
    Ajouter un étudiant
  </button>
</mat-toolbar>


<div class="main-body">

  <mat-form-field>
    <mat-label>Rechercher</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Amédé" #input>
  </mat-form-field>

  <div class="table-container">
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
      </ng-container>

      <ng-container matColumnDef="matricule">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Matricule </th>
        <td mat-cell *matCellDef="let row"> {{row.matricule}}</td>
      </ng-container>

      <!-- Progress Column -->
      <ng-container matColumnDef="nom">
        <th mat-header-cell *matHeaderCellDef mat-sort-header > Nom(s) </th>
        <td mat-cell *matCellDef="let row"> {{row.nom}}</td>
      </ng-container>

      <ng-container matColumnDef="prenom">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Prénom(s) </th>
        <td mat-cell *matCellDef="let row"> {{row.prenom}}</td>
      </ng-container>

      <ng-container matColumnDef="classe">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Classe </th>
        <td mat-cell *matCellDef="let row"> {{row.classe}}</td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button color="primary" (click)="openEditForm(row)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteEtudiant(row.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">Aucune donnée correspondant au filtre "{{input.value}}"</td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 25, 100]" aria-label="Sélectionnez la page des étudiants"></mat-paginator>
    <button color="primary" mat-raised-button (click)="openClassListModal()">
      Liste des classes
    </button>

  </div>
</div>

<div mat-dialog-content>
  <ng-template #classListModal let-modal>
    <div class="modal-header">
      <h2 mat-dialog-title style="text-align: center;">Liste des classes</h2>
    </div>

    <div mat-dialog-content>
        <table mat-table [dataSource]="classes" class="mat-elevation-z8">
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let classe"> {{classe.id}} </td>
          </ng-container>
          <ng-container matColumnDef="nom">
            <th mat-header-cell *matHeaderCellDef> Nom </th>
            <td mat-cell *matCellDef="let classe"> {{classe.nom}} </td>
          </ng-container>
          <ng-container matColumnDef="effectif">
            <th mat-header-cell *matHeaderCellDef> Effectif </th>
            <td mat-cell *matCellDef="let classe"> {{classe.effectif}} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="['id', 'nom', 'effectif']"></tr>
          <tr mat-row *matRowDef="let row; columns: ['id', 'nom', 'effectif']"></tr>
        </table>
    </div>
    <div mat-dialog-actions>
      <button color="warn" mat-raised-button type="button" [mat-dialog-close]="false">Fermer</button>
    </div>
  </ng-template>
</div>



